body {
	background-color: #fcfcfc;
	color:#111111;
	font-size:14px;
	line-height:1.6em;
}
a, a:hover, a:visited, a:focus {
	text-decoration:underline;
}
h1.site-title {
	color: #666666;
    font-size: 36px;
}
h1.site-title a {
	color:#666666;
	text-decoration:none;
}
.center-icon, .center-icon a, .center-icon a:hover, .center-icon a:focus, .center-icon a:visited{
	color:#111111;
	text-align:center;
	color:#111111;
	text-decoration:none;
}
#top-menu a {
	color:#eeeeee;
	text-decoration:none;
}
#top-menu li.active a {
	color:#ffffff;
	font-weight:bolder;
}
#top-menu a:hover{
	background-color:#555555;
	text-decoration:underline;
}
.center-icon a, .center-icon a:hover, .center-icon a:focus, .center-icon a:visited{
	font-size:150%;
	font-weight:bolder;
}
hr { 
    width: 95%; 
    height: 50px; 
}
div.article-meta {
	font-size:50%;
	color:#111111;
	font-weight:normal;
}
div.article-meta a {
	text-decoration:none;
	color:#111111;
}
img.article-header {
	width:100%;
}
.entry h1{
	font-size: 22px;
	font-weight: 500;
}
.entry h2{
	font-size: 20px;
	font-weight: 500;
}
.entry h3, table.lebenslauf td.ueberschrift{
	font-size: 18px;
	font-weight: 500;

}
.alist a{
	text-decoration: none;
	color: #111111;
}
.alist h3{
	font-size: 120%;
	text-align: center;
	font-weight: bold;
}
.alist p.aimg{
	text-align: center;
}
img.articlelist{
	width:100%;
	max-width:250px;
}
table.lebenslauf td{
	vertical-align:top;
	min-width:13ex;
	padding-top:1.5ex;
}
